<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.planaria.favoriteanime.mapper.AnimeMapper">
  <select id="selectAll" resultType="jp.co.planaria.favoriteanime.entity.Anime">
    select * from anime
  </select>
  
  <select id="selectByCondition" resultType="jp.co.planaria.favoriteanime.entity.Anime">
    SELECT 
    	title_no, title, memo
    FROM
    	anime
    <where>
    	<if test="title != null">
    		title LIKE CONCAT(#{title}, '%')
  		</if> 
  	</where>
    ORDER BY
    	title desc;
  </select>
</mapper>